body {
    background-image: url(https://grizly.club/uploads/posts/2022-12/1670171874_grizly-club-p-shablon-pasporta-rf-2.jpg);
    background-position: 5px 70px;
    background-repeat: no-repeat;
   }
.block1 {
   margin-left: 180px;
   margin-top: 80px;
   font: bold 90% serif;
   }
   .block2 {
   margin-left: 100px;
   margin-top: 30px;
   }
   .block3 {
   margin-left: 300px;
   margin-top: -20px;
   }
   .block4 {
   margin-left: 250px;
   margin-top: 230px;
   font: bold 100% serif;
   }
   .block5 {
   margin-left: 270px;
   margin-top: 35px;
   }
   .block6 {
   margin-left: 250px;
   margin-top: 5px;
   }
   .block7 {
   margin-left: 200px;
   margin-top: 5px;
   }
   .block8 {
   margin-left: 300px;
   margin-top: -20px;
   }
   .block9 {
   margin-left: 250px;
   margin-top: 15px;
   }
   .button{
    margin-top: 150px;
   }